<div class="flex-grow-1 d-flex flex-column h-100 overflow-hidden p-3">
    <app-user-list></app-user-list>
    <router-outlet></router-outlet>
    <!-- <div class="flex-grow-1 overflow-vertical bg-white">
        <div class="table-wrapper data-table">
            <table class="data-table windshield-list" aria-describedby="claim table">
                <thead class="sticky-table-header border-bottom">
                    <tr>
                        <th scope="col" class="serial-no">
                            <div class="cell-header">
                                <span> ID</span>

                            </div>
                        </th>
                        <th scope="col" class="vendor">
                            <div class="cell-header">
                                <span>Name</span>
                            </div>
                        </th>
                        <th scope="col" class="vendor">
                            <div class="cell-header">
                                <span>Produt Name</span>
                            </div>
                        </th>
                        <th scope="col" class="vendor">
                            <div class="cell-header">
                                <span>Created Date</span>
                            </div>
                        </th>
                        <th scope="col" class="vendor">
                            <div class="cell-header">
                                <span>Amount</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>

                    </tr>
                    <tr>
                        <td class="cell-body serial-no">001</td>
                        <td class="cell-body">Revant</td>
                        <td class="cell-body">Door</td>
                        <td class="cell-body">26/09/2023</td>
                        <td class="cell-body">$50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>
