
  <div class="flex-grow-1 d-flex flex-column h-100 overflow-hidden bg-white">
    <h2 class="border-bottom px-3 py-2">Product Type</h2>
    <section class="d-flex flex-column flex-grow-1 overflow-vertical">
      <div class="col-12 pb-3 border-bottom  px-3">
        <div class="form-group">
          <label for="selectProduct" class="form-label">Select Product Type</label>
          <select name="" id="selectProduct" class="form-control">
            <option value="">Door</option>
            <option value="">Window</option>
          </select>
        </div>
      </div>
      <section class="flex-grow-1 overflow-hidden px-3">
        <h2>Product Description</h2>
        <section class="flex-grow-1 overflow-vertical">
          <div class=" col-4">
            <div class="row">
              <div class="col-12 col-md-3">
                <p class="">Size</p>
              </div>
              <div class="col-12 col-md-3">
                <p class="">Width X </p>
              </div>
              <div class="col-12 col-md-3">
                <p class="">Height</p>
              </div>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">

                  <p class="mb-0">Inches</p>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <input type="text" name="" id="" class="form-control">
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <input type="text" name="" id="" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">

                  <p class="mb-0">MM</p>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <input type="text" name="" id="" class="form-control">
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <input type="text" name="" id="" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </div> 
