.loader-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0.75);
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  .brand-logo {
    width: 100px;
  }
}

.loader {
  width: 32px;
  height: 32px;
  clear: both;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  &::before,
  &::after {
    content: "";
    border: 3px $secondary solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
  }
  &::before {
    transform: scale(1, 1);
    opacity: 1;
    animation: waveBefore 0.75s infinite linear;
  }
  &::after {
    transform: scale(0, 0);
    opacity: 0;
    animation: waveAfter 0.75s infinite linear;
  }
}

@keyframes waveAfter {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes waveBefore {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.brand-logo-loader {
  width: 170px;
}
