.quotation-tab-wrapper {
  .nav-tab {
    .nav-link {
      border-bottom: 3px solid transparent;
      transition: 0.5s ease-in-out;
      &:hover {
        border-bottom: 3px solid $primary;
      }
    }
  }
}
